<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (profile.avatar) { %>
<div>
<img class="profile-avatar"
    src="<%= profile.avatar %>" 
   alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf)  {%> 
    <h2> List of Teas You Want to Try !</h2>
    <form action="/profile/<%= profile._id%>/tea" method="POST">
          <label for="tea">Add A Tea To Your List</label>
             <select id="tea" name="tea">
            <option value="Chamomile">Chamomile</option>
            <option value="White">White</option>
            <option value="Peppermint">Peppermint</option>
            <option value="Green">Green Tea</option>
          </select>
               <button type='submit'>ADD</button>
        </form>

        <% if (profile.tea.length)  {%>
            <h2>
              <%= isSelf ? "You have" : `${profile.name} has` %> tea! Here they are!
            </h2>
            <% profile.tea.forEach(t => { %>
              <h3>
                <%= t.tea %> 
              </h3>
        <form action="/profile/tea/<%= t._id %>?_method=DELETE" method="POST" >
                <button type="submit">X</button>
                  </form>
            <% }) %>
          <% } else { %>
            <h2>
              <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have a tea List.
            </h2> 
          <% } %> 
        </main>


        <% } %>
  <%- include('../partials/footer') %>