<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  
    </div>
  <main>
    <h1>Tea List</h1>
    <h1><%= user ? user.profile.name : error %></h1>

    <div>
      <img 
      src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    <% tea.forEach(function(t){%>
       <ul>
      <li>
        <%= t.teaName%> 
      </li>
      <form action="/tea/<%=t._id%>?_method=DELETE" method="PUT">
        <button class="btn" type="submit">X</button>
      </form>
      <%})%>

      </section>

<%- include('../partials/footer') %>

