<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= user ? user.profile.name : error %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
      src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
  <main>
    <h1>Tea List</h1>
    <% tea.forEach(function(t){%>
       <ul>
      <%= t.teaName%> </li>
      <form action="/tea/<%=t.teaName %>?_method=DELETE" method="PUT">
        <button class="btn" type="submit">Delete</button>
      </form>
      <%})%>
      
      
      </section>

<%- include('../partials/footer') %>

