<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% tea.forEach(t => { %>
  <li>
      ЁЯМо 
  <a href="/tacos/<%= taco._id %>"><%= taco.name %></a> 
      </li>
<% }) %>
</ul>

<%- include('../partials/footer') %>