<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profile.css">
<%- include('../partials/nav') %>

<section>

<a id='addReview' href = '/reviews/new' > Add a review </a>
<h1> All Reviews </h1>
<% reviews.forEach(function(r){%>
<hr>
 <ul>
<li><img id="avImg" style='border-radius: 50%;' src="<%=r.owner.avatar %>"></li>
<li id="ownerName"><%= r.owner.name %></li>
<li>What Tea Have You Tried? 
    <b><%= r.selectTea %></b> </li>
 <li>Rate:
     <b><%= r.rate %></b></li>
 <li>Other: 
<li> </b> <%= r.other %></b> </li>
<b><li  style='font-size:15px;'id='dateCreated'><%= r.createdAt %> </li></b>

<% if (r.owner.equals(user?.profile._id)) { %> 
<li><a href="/reviews/<%= r._id %>">Update Review</a></li>
<%}%>
<%})%>


</section>




<%- include('../partials/footer') %>