<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<% if (user) { %>
<a href = '/reviews/new' > Add a review </a>
<h1> All Reviews</h1>
<% reviews.forEach(function(r){%>
<hr>
 <ul>
<li>What Tea Have You Tried? 
<%= r.selectTea %> </li>
 <li>Do you like it? 
     <%= r.like %> </li>
 <li>Other Reviews or Reccomendations: 
    <%= r.other %> </li>
<a href="/reviews/<%= r._id %>">Update Review</a> 
   
</ul>

<%})%>

<%}%>



<%- include('../partials/footer') %>