<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1> ꧁ Your Review ꧂ </h1>

<%=review.selectTea %>


<button> edit </button>
<button> delete </button>
<button> save </button>


  <%- include('../partials/footer') %>
  
  <%- include('../partials/footer') %>