<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1> ꧁ Your Review ꧂ </h1>

<h2> I tried <%= review.selectTea%></h2>

  <%- include('../partials/footer') %>
  
  <%- include('../partials/footer') %>